<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wonLin</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/style.css">
</head>

<body style="background: #18191A;">
    <form method="post" action="/post/comment">
        <a class="nav-link text-white btn border border-info mt-3 ms-4" href="/" style="width: 10%;">
            Inicio
        </a>
        <div class="container" style="width: min-content;">
            <img width="500" height="auto" style="object-fit:contain;" src="<%=img.urlImg%>" alt="image_post">
            <div class="p-2 over">
                <div class="container_comments">
                    <% comment.forEach(com=>{ %>
                        <%u.forEach(uname=>{%>
                            <% if(com.id_com_user===uname.id && com.id_image_com===img.id_Image){%>
                                <div class="row row-cols-1 row-cols-md-4 p-2 text-white">
                                    <div class="col-1 text-white border p-2 me-2"
                                        style="border-radius: 10px; width: max-content; height: min-content; user-select: none;">
                                        <%=uname.name.toString().charAt().toUpperCase()%>
                                    </div>
                                    <div class="col-10">
                                        <b>
                                            <%=uname.name%>
                                        </b>
                                        <p class="pharaf" style="width: max-content;">
                                            <%=com.contentComment%>
                                        </p>
                                    </div>
                                </div>
                                <%} %>
                                    <% }) %>
                                        <%})%>
                </div>
                <div class="input-group p-2 com_static">
                    <input class="form-control border_input text-white me-3" type="text" placeholder="Comentario..."
                        name="coment" maxlength="1000" />
                    <input type="text" name="ifImg" value="<%= img.id_Image %>" hidden>
                    <button class="btn btn-primary" type="submit">Comentar</button>
                </div>
            </div>
        </div>
    </form>
    <script src="/comment.js"></script>
</body>

</html>